* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
All label, input, button, select tags 
font-size 18px
color: darkgrey
*/
label, input, button, select {
    font-size: 18px;
    color:#474747;
}

/*
button -
background color to #4CAF50
text color to white #fffff
padding - top and botton 14px, left and right 20px
margin for all with 8px
radius to be 6px (border-radius: 6px;)
do not want any border
change the cursor to pointer
*/

button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
}

button:hover {
    background-color: #006400;
}

/* To Style the input, select tags - do not want to style radio and checkbox types */
input:not([type=radio]):not([type=checkbox]), select {
    width: 50%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}